.header {
  position: relative;
  z-index: 5;
  padding-top: 15px;
}

.header__wrap {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-bottom: 35px;
}

.header__text {
  font-size: 40px;
  font-weight: 700;
  max-width: 300px;
  margin: 0;
  margin-top: 70px;
}
