.search {
  background-color: @bg-grey;
  position: absolute;
  top: 190px;
  left: ~"calc(50% + 370px)";
  z-index: 5;
  
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -35px;
    left: -30px;
    width: 96px;
    height: 75px;
    background-image: url(../img/shape-1.svg);
    background-repeat: no-repeat;
  }
  
  &::after {
    right: 0;
    bottom: -20px;
    top: auto;
    left: auto;
    transform: scale(-1) rotate(45deg);
  }
  
  &--send {
    position: relative;
    top: 130px;
    left: -55px;
    
    .search__title {
      max-width: 440px;
    }
    
    .search__form {
      margin-top: 20px;
      padding-left: 30px;
    }
    
    .search__btn {
      margin-top: 35px;
      margin-bottom: -35px;
    }
    
    &::before {
      top: -25px;
      left: -15px;
    }
    
    &::after {
      right: -40px;
    }
  }
}

.search__wrap {
  width: 604px;
  min-height: 379px;
  padding: 30px 30px 30px 80px;
  position: relative;
  
  &::before {
    content: "";
    position: absolute;
    top: -9px;
    right: 0;
    width: 178px;
    height: 18px;
    background-image: url(../img/line.png);
    background-repeat: repeat-x;
    background-size: contain;
  }
  
  &--send {
    width: 555px;
    min-height: auto;
    padding: 20px 55px;
    padding-bottom: 0;
    
    &::before {
      display: none;
    }
  }
}

.search__title {
  margin: 0;
  max-width: 340px;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.search__subtitle {
  margin: 0;
  font-size: 18px;
  text-align: center;
}

.search__form {
  margin-top: 33px;
  width: 374px;
}

.search__select {
  display: block;
  width: 100%;
  padding: 3px 10px;
  background-color: rgba(255,255,255,0);
  border: none;
  outline: none;
  cursor: pointer;
}

.search__select {
  appearance: none;
  background-image: url(../img/arrow.png);
  background-repeat: no-repeat;
  background-position: 95% 20px;
  background-size: 14px 8px;
}

.search__select::-ms-expand {
  color: transparent;
  border: none;
  background-color: transparent;
}

.search__input {
  width: 100%;
  padding: 5px 10px;
  
  &::placeholder {
    opacity: 1;
  }
}

.search__field {
  position: relative;
  margin-bottom: 23px;
  border-bottom: 1px solid rgb(191, 191, 191);
}

.search__list {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: @bg-grey;
  box-shadow: 0px 10px 14.16px 9.84px rgba(5, 5, 5, 0.05);
  z-index: 5;
}

.search__btn {
  width: 184px;
  margin: 0 auto;
  margin-top: 53px;
  margin-bottom: -50px;
}
