.service {
  padding-top: 65px;
  padding-bottom: 40px;
  overflow: hidden;
  position: relative;
  
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: ~"calc(50% - 665px)";
    width: 100%;
    height: 669px;
    background-color: @bg-grey;
    z-index: -1;
  }
  
  &::after {
    content: "";
    position: absolute;
    bottom: 55px;
    left: ~"calc(50% - 67px)";
    width: 305px;
    height: 475px;
    background-image: url(../img/icon-big.png);
    background-repeat: no-repeat;
  }
  
  &--internal {
    padding-top: 90px;
    padding-bottom: 95px;
    background-image: linear-gradient(79deg, rgba(255,0,0,0.02), rgba(255,0,255,0.02), rgba(0,0,255,0.02), rgba(0,255,255,0.02), rgba(0,255,0,0.02), rgba(255,255,0,0.02), rgba(255,0,0,0.02));
    
    &::before {
      display: none;
    }
    
    &::after {
      bottom: -140px;
      right: 0;
      left: auto;
      width: 342px;
      height: 456px;
      background-image: url(../img/icon-big-4.png);
      z-index: -1;
    }
  }
}

.service__title {
  text-align: right;
  margin-bottom: 105px;
  
  span {
    display: inline;
  }
}

.service__img {
  width: 880px;
  height: 651px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 65px;
  left: ~"calc(50% + 85px)";
}

.service__block {
  max-width: 470px;
}

.service__item {
  margin-bottom: 35px;
  box-shadow: 0px 0px 14.16px 9.84px rgba(5, 5, 5, 0.05);
}

.service__link {
  display: block;
  width: 100%;
  min-height: 78px;
  padding-left: 28px;
  padding-top: 20px;
  color: @red;
  font-size: 30px;
  background-color: rgb(247, 247, 247);
  position: relative;
  
  span {
    position: absolute;
    top: 11px;
    right: 15px;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    background-color: @red;
    color: #fff;
    text-align: center;
    line-height: 55px;
  }
  
  &:hover,
  &:active {
    background-color: #fff;
    
    span {
      background-color: #db303b;
    }
  }
}

.service__list--internal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  
  .service__item {
    width: 470px;
    margin-bottom: 60px;
  }
}
