.slider {
  width: 100%;
  padding-top: 55px;
  position: relative;
  
  &::before {
    content: "";
    position: absolute;
    top: -50px;
    right: 0;
    width: 300px;
    height: 98px;
    background-image: url(../img/bg-dots.png);
    background-repeat: no-repeat;
    opacity: 0.3;
  }
  
  &::after {
    content: "";
    position: absolute;
    bottom: 170px;
    left: 0;
    width: 187px;
    height: 268px;
    background-image: url(../img/shape-7.png);
    background-repeat: no-repeat;
  }
}

.slider__wrap {
  position: relative;
  
  &::before {
    content: "";
    position: absolute;
    top: 85px;
    right: ~"calc(50% - 15px)";
    width: ~"calc(50vw + 15px)";
    height: 500px;
    background-image: repeating-radial-gradient(circle, rgba(61,61,61,0.3) 0px, rgba(61,61,61,0.3) 2px, rgba(255,255,255,0) 3px, rgba(255,255,255,0) 100%);
    background-size: 11px 11px;
    z-index: -1;
  }
}

.slider__title {
  padding-left: 200px;
}

.slider__sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 25px;
  padding-left: 77px;
  padding-right: 35px;
}

.slider__search {
  display: block;
  min-height: 49px;
  padding: 15px 20px;
  font-weight: 400;
  color: @normal;
  border: 1px solid rgba(255,255,255,0);
  
  &:hover,
  &:active,
  &--active {
    color: @red;
    background-color: #fff;
    border: 1px solid @red;
  }
}

.slider__bottom,
.slider__top {
  background-color: @bg-grey;
  padding: 22px 17px 22px 30px;
}

.slider__top {
  margin-bottom: 8px;
}

.slider__slide {
  width: 354px;
  text-align: center;
}

.slider__img {
  width: 354px;
  height: 222px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.slider__h3 {
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
}

.slider__address,
.slider__text {
  margin: 0;
}

.slider__address {
  margin-top: 15px;
  margin-bottom: 15px;
}

.slider__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  p {
    margin: 0;
  }
}

.slider__price {
  margin: 0;
  
  b {
    font-weight: 700;
  }
}

.slider__link {
  width: 184px;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: -50px;
}

.slider__container {
  padding-bottom: 30px;
}

.slider__pagination .swiper-pagination-bullet {
  width: 17px;
  height: 16px;
  display: block;
  margin-bottom: 10px;
  border: 2px solid @red;
  background-color: #fff;
  opacity: 1;
}

.slider__pagination .swiper-pagination-bullet-active {
  background-color: @red;
}

.slider__pagination {
  top: 120px;
  right: -20px;
}
