.user__phone {
  font-size: 30px;
  font-weight: 700;
  color: @normal;
  
  span {
    padding-right: 17px;
  }
  
  &--footer {
    font-size: 24px;
    color: @red;
  }
}

.user__address {
  font-style: normal;
}

.user__wrap {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 30px;
  max-width: 250px;
  margin-top: 30px;
  
  span {
    display: block;
    margin-right: 17px;
    margin-top: 10px;
  }
  
  &--footer {
    font-size: 24px;
  }
}
